@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;

.chartItem {
  width: 100%;
  height: 100%;
  padding: $padding-28;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: $gap-50
  );
  .chart {
    width: 100%;
    height: 22.8125rem;
    padding: $padding-28 $padding-20;
    border-radius: $b-r-15;
    background-color: $white;
    box-shadow: $boxShadow-1;
    font-size: $f-s-16;
  }
}
